<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userRoles">
            <h2><span jhiTranslate="testAppJHipsterApp.userRoles.detail.title">User Roles</span> {{ userRoles.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testAppJHipsterApp.userRoles.idUser">Id User</span></dt>
                <dd>
                    <span>{{ userRoles.idUser }}</span>
                </dd>
                <dt><span jhiTranslate="testAppJHipsterApp.userRoles.idRole">Id Role</span></dt>
                <dd>
                    <span>{{ userRoles.idRole }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-roles', userRoles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
