<div>
    <h2 id="page-heading">
        <span jhiTranslate="testAppJHipsterApp.userRoles.home.title">User Roles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-roles" [routerLink]="['/user-roles/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testAppJHipsterApp.userRoles.home.createLabel">
            Create a new User Roles
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userRoles?.length === 0">
        <span jhiTranslate="testAppJHipsterApp.userRoles.home.notFound">No userRoles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userRoles && userRoles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testAppJHipsterApp.userRoles.idUser">Id User</span></th>
                    <th scope="col" ><span jhiTranslate="testAppJHipsterApp.userRoles.idRole">Id Role</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userRoles of userRoles ;trackBy: trackId">
                    <td><a [routerLink]="['/user-roles', userRoles.id, 'view']">{{ userRoles.id }}</a></td>
                    <td>{{ userRoles.idUser }}</td>
                    <td>{{ userRoles.idRole }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-roles', userRoles.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-roles', userRoles.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userRoles)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
